In [2]:
import pandas as pd

# Downloading and Loading Datasets
Downloading all the required csv files and loading the data into the dataframes

In [3]:
# eCommerce Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data_v2.csv

shopping_df = pd.read_csv('shopping_data_v2.csv')

--2020-12-22 15:51:09--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data_v2.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.119
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.119|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16278053 (16M) [text/csv]
Saving to: ‘shopping_data_v2.csv’

shopping_data_v2.cs 100%[===================>]  15.52M  5.50MB/s    in 2.8s

2020-12-22 15:51:13 (5.50 MB/s) - ‘shopping_data_v2.csv’ saved [16278053/16278053]

In [ ]:
# Covid Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/italy-covid-daywise.csv

covid_df = pd.read_csv('italy-covid-daywise.csv')

In [ ]:
# Stackoverflow Survey Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/survey_results_public.csv

survey_df = pd.read_csv('survey_results_public.csv')

In [ ]:
# Film Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/film.csv
 
films_df = pd.read_csv('film.csv')

# Display Options

In [ ]:
shopping_df

In [5]:
pd.set_option('display.max_rows', 8)

In [6]:
shopping_df

        Order ID  ...                           Purchase Address
0         176558  ...               917 1st St, Dallas, TX 75001
1         176559  ...          682 Chestnut St, Boston, MA 02215
2         176560  ...       669 Spruce St, Los Angeles, CA 90001
3         176560  ...       669 Spruce St, Los Angeles, CA 90001
...          ...  ...                                        ...
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

**To display more than 10 rows when the dataframe is truncated, set the `min_rows` option to be greater than 10.**

In [7]:
pd.set_option('display.min_rows', 25)
pd.set_option('display.max_rows', 30)
shopping_df

        Order ID  ...                            Purchase Address
0         176558  ...                917 1st St, Dallas, TX 75001
1         176559  ...           682 Chestnut St, Boston, MA 02215
2         176560  ...        669 Spruce St, Los Angeles, CA 90001
3         176560  ...        669 Spruce St, Los Angeles, CA 90001
4         176561  ...           333 8th St, Los Angeles, CA 90001
5         176562  ...      381 Wilson St, San Francisco, CA 94016
6         176563  ...            668 Center St, Seattle, WA 98101
7         176564  ...             790 Ridge St, Atlanta, GA 30301
8         176565  ...      915 Willow St, San Francisco, CA 94016
9         176566  ...                 83 7th St, Boston, MA 02215
10        176567  ...           444 7th St, Los Angeles, CA 90001
11        176568  ...               438 Elm St, Seattle, WA 98101
...          ...  ...                                         ...
185938    176547  ...               998 Pine St, Boston, MA 02215
185939    176548  ...             9 Sunset St, Portland, OR 97035
185940    176549  ...          604 Park St, Los Angeles, CA 90001
185941    176550  ...       16 Sunset St, San Francisco, CA 94016
185942    176551  ...       567 River St, San Francisco, CA 94016
185943    176552  ...          578 Main St, Los Angeles, CA 90001
185944    176553  ...  437 Washington St, New York City, NY 10001
185945    176554  ...        672 12th St, San Francisco, CA 94016
185946    176555  ...          42 4th St, San Francisco, CA 94016
185947    176556  ...           871 7th St, Los Angeles, CA 90001
185948    176557  ...   83 Washington St, San Francisco, CA 94016
185949    176557  ...   83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

In [11]:
pd.set_option('display.max_columns', 4)

In [12]:
shopping_df

,Order ID,Product,...,Order Date,Purchase Address
0,176558,USB-C Charging Cable,...,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,...,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,...,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,...,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,...,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
5,176562,USB-C Charging Cable,...,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
6,176563,Bose SoundSport Headphones,...,04/02/19 07:46,"668 Center St, Seattle, WA 98101"
7,176564,USB-C Charging Cable,...,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301"
8,176565,Macbook Pro Laptop,...,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016"
9,176566,Wired Headphones,...,04/08/19 14:05,"83 7th St, Boston, MA 02215"
10,176567,Google Phone,...,04/18/19 17:18,"444 7th St, Los Angeles, CA 90001"
11,176568,Lightning Charging Cable,...,04/15/19 12:18,"438 Elm St, Seattle, WA 98101"
...,...,...,...,...,...
185938,176547,Wired Headphones,...,03/01/19 16:39,"998 Pine St, Boston, MA 02215"
185939,176548,AAA Batteries (4-pack),...,03/16/19 15:36,"9 Sunset St, Portland, OR 97035"
185940,176549,iPhone,...,03/20/19 01:24,"604 Park St, Los Angeles, CA 90001"
185941,176550,Wired Headphones,...,03/01/19 22:30,"16 Sunset St, San Francisco, CA 94016"
185942,176551,LG Washing Machine,...,03/20/19 23:49,"567 River St, San Francisco, CA 94016"
185943,176552,Apple Airpods Headphones,...,03/08/19 14:07,"578 Main St, Los Angeles, CA 90001"
185944,176553,USB-C Charging Cable,...,03/02/19 22:27,"437 Washington St, New York City, NY 10001"
185945,176554,Lightning Charging Cable,...,03/24/19 11:14,"672 12th St, San Francisco, CA 94016"
185946,176555,27in FHD Monitor,...,03/22/19 20:27,"42 4th St, San Francisco, CA 94016"
185947,176556,AAA Batteries (4-pack),...,03/14/19 10:29,"871 7th St, Los Angeles, CA 90001"
185948,176557,iPhone,...,03/30/19 12:32,"83 Washington St, San Francisco, CA 94016"
185949,176557,Lightning Charging Cable,...,03/30/19 12:32,"83 Washington St, San Francisco, CA 94016"

**To display all the rows, set max_rows to None.**

In [13]:
pd.set_option("display.max_rows", None)
shopping_df

**To reset all the display options**

In [14]:
pd.reset_option('display')

In [15]:
shopping_df

        Order ID  ...                           Purchase Address
0         176558  ...               917 1st St, Dallas, TX 75001
1         176559  ...          682 Chestnut St, Boston, MA 02215
2         176560  ...       669 Spruce St, Los Angeles, CA 90001
3         176560  ...       669 Spruce St, Los Angeles, CA 90001
4         176561  ...          333 8th St, Los Angeles, CA 90001
...          ...  ...                                        ...
185945    176554  ...       672 12th St, San Francisco, CA 94016
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

# Index


*   An index contains **identifiers for rows**. These are usually unique, but pandas doesn't enforce the uniqueness.
*   Each identifier is also called a **label**.

In [16]:
print(shopping_df.index)

print(shopping_df.index.name)

RangeIndex(start=0, stop=185950, step=1)
None

## Changing the Index

### pd.DataFrame.set_index
* **`pd.DataFrame.set_index(keys, inplace=False)`**
  * Set the DataFrame index (row labels) using one or more existing columns or arrays (of appropriate length).
  * The index can replace the existing index or expand on it.

In [17]:
shopping_df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [18]:
shopping_df.set_index('Order ID')

                             Product  ...                           Purchase Address
Order ID                              ...
176558          USB-C Charging Cable  ...               917 1st St, Dallas, TX 75001
176559    Bose SoundSport Headphones  ...          682 Chestnut St, Boston, MA 02215
176560                  Google Phone  ...       669 Spruce St, Los Angeles, CA 90001
176560              Wired Headphones  ...       669 Spruce St, Los Angeles, CA 90001
176561              Wired Headphones  ...          333 8th St, Los Angeles, CA 90001
...                              ...  ...                                        ...
176554      Lightning Charging Cable  ...       672 12th St, San Francisco, CA 94016
176555              27in FHD Monitor  ...         42 4th St, San Francisco, CA 94016
176556        AAA Batteries (4-pack)  ...          871 7th St, Los Angeles, CA 90001
176557                        iPhone  ...  83 Washington St, San Francisco, CA 94016
176557      Lightning Charging Cable  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 5 columns]

In [19]:
shopping_df

        Order ID  ...                           Purchase Address
0         176558  ...               917 1st St, Dallas, TX 75001
1         176559  ...          682 Chestnut St, Boston, MA 02215
2         176560  ...       669 Spruce St, Los Angeles, CA 90001
3         176560  ...       669 Spruce St, Los Angeles, CA 90001
4         176561  ...          333 8th St, Los Angeles, CA 90001
...          ...  ...                                        ...
185945    176554  ...       672 12th St, San Francisco, CA 94016
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

**Create a Multi-Index using the columns `Order ID` and `Product`:**

In [20]:
shopping_df = pd.read_csv('shopping_data_v2.csv')

shopping_df.set_index(['Order ID', 'Product'])

                                     Quantity Ordered  ...                           Purchase Address
Order ID Product                                       ...
176558   USB-C Charging Cable                       2  ...               917 1st St, Dallas, TX 75001
176559   Bose SoundSport Headphones                 1  ...          682 Chestnut St, Boston, MA 02215
176560   Google Phone                               1  ...       669 Spruce St, Los Angeles, CA 90001
         Wired Headphones                           1  ...       669 Spruce St, Los Angeles, CA 90001
176561   Wired Headphones                           1  ...          333 8th St, Los Angeles, CA 90001
...                                               ...  ...                                        ...
176554   Lightning Charging Cable                   1  ...       672 12th St, San Francisco, CA 94016
176555   27in FHD Monitor                           1  ...         42 4th St, San Francisco, CA 94016
176556   AAA Batteries (4-pack)                     3  ...          871 7th St, Los Angeles, CA 90001
176557   iPhone                                     1  ...  83 Washington St, San Francisco, CA 94016
         Lightning Charging Cable                   1  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 4 columns]

**Use `inplace = True` to modify the DataFrame in place.**

In [21]:
shopping_df.set_index('Order ID', inplace = True)

In [22]:
shopping_df

                             Product  ...                           Purchase Address
Order ID                              ...
176558          USB-C Charging Cable  ...               917 1st St, Dallas, TX 75001
176559    Bose SoundSport Headphones  ...          682 Chestnut St, Boston, MA 02215
176560                  Google Phone  ...       669 Spruce St, Los Angeles, CA 90001
176560              Wired Headphones  ...       669 Spruce St, Los Angeles, CA 90001
176561              Wired Headphones  ...          333 8th St, Los Angeles, CA 90001
...                              ...  ...                                        ...
176554      Lightning Charging Cable  ...       672 12th St, San Francisco, CA 94016
176555              27in FHD Monitor  ...         42 4th St, San Francisco, CA 94016
176556        AAA Batteries (4-pack)  ...          871 7th St, Los Angeles, CA 90001
176557                        iPhone  ...  83 Washington St, San Francisco, CA 94016
176557      Lightning Charging Cable  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 5 columns]

### Setting the index while reading the csv file

In [23]:
shopping_df = pd.read_csv('shopping_data_v2.csv', index_col = 'Order ID')
shopping_df

                             Product  ...                           Purchase Address
Order ID                              ...
176558          USB-C Charging Cable  ...               917 1st St, Dallas, TX 75001
176559    Bose SoundSport Headphones  ...          682 Chestnut St, Boston, MA 02215
176560                  Google Phone  ...       669 Spruce St, Los Angeles, CA 90001
176560              Wired Headphones  ...       669 Spruce St, Los Angeles, CA 90001
176561              Wired Headphones  ...          333 8th St, Los Angeles, CA 90001
...                              ...  ...                                        ...
176554      Lightning Charging Cable  ...       672 12th St, San Francisco, CA 94016
176555              27in FHD Monitor  ...         42 4th St, San Francisco, CA 94016
176556        AAA Batteries (4-pack)  ...          871 7th St, Los Angeles, CA 90001
176557                        iPhone  ...  83 Washington St, San Francisco, CA 94016
176557      Lightning Charging Cable  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 5 columns]

### pd.DataFrame.reset_index

* `pd.DataFrame.reset_index(drop=False, inplace=False)`
  * Returns a DataFrame with the `new index` or `None` if `inplace=True`.
  * Reset the index of the DataFrame, and use the default one instead.

In [24]:
shopping_df.reset_index()

        Order ID  ...                           Purchase Address
0         176558  ...               917 1st St, Dallas, TX 75001
1         176559  ...          682 Chestnut St, Boston, MA 02215
2         176560  ...       669 Spruce St, Los Angeles, CA 90001
3         176560  ...       669 Spruce St, Los Angeles, CA 90001
4         176561  ...          333 8th St, Los Angeles, CA 90001
...          ...  ...                                        ...
185945    176554  ...       672 12th St, San Francisco, CA 94016
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

**We can use the `drop` parameter to avoid the old index being added as a column:**

In [25]:
shopping_df.reset_index(drop=True)

                           Product  ...                           Purchase Address
0             USB-C Charging Cable  ...               917 1st St, Dallas, TX 75001
1       Bose SoundSport Headphones  ...          682 Chestnut St, Boston, MA 02215
2                     Google Phone  ...       669 Spruce St, Los Angeles, CA 90001
3                 Wired Headphones  ...       669 Spruce St, Los Angeles, CA 90001
4                 Wired Headphones  ...          333 8th St, Los Angeles, CA 90001
...                            ...  ...                                        ...
185945    Lightning Charging Cable  ...       672 12th St, San Francisco, CA 94016
185946            27in FHD Monitor  ...         42 4th St, San Francisco, CA 94016
185947      AAA Batteries (4-pack)  ...          871 7th St, Los Angeles, CA 90001
185948                      iPhone  ...  83 Washington St, San Francisco, CA 94016
185949    Lightning Charging Cable  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 5 columns]

In [26]:
shopping_df

                             Product  ...                           Purchase Address
Order ID                              ...
176558          USB-C Charging Cable  ...               917 1st St, Dallas, TX 75001
176559    Bose SoundSport Headphones  ...          682 Chestnut St, Boston, MA 02215
176560                  Google Phone  ...       669 Spruce St, Los Angeles, CA 90001
176560              Wired Headphones  ...       669 Spruce St, Los Angeles, CA 90001
176561              Wired Headphones  ...          333 8th St, Los Angeles, CA 90001
...                              ...  ...                                        ...
176554      Lightning Charging Cable  ...       672 12th St, San Francisco, CA 94016
176555              27in FHD Monitor  ...         42 4th St, San Francisco, CA 94016
176556        AAA Batteries (4-pack)  ...          871 7th St, Los Angeles, CA 90001
176557                        iPhone  ...  83 Washington St, San Francisco, CA 94016
176557      Lightning Charging Cable  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 5 columns]

In [27]:
shopping_df.reset_index(inplace=True)

In [28]:
shopping_df

        Order ID  ...                           Purchase Address
0         176558  ...               917 1st St, Dallas, TX 75001
1         176559  ...          682 Chestnut St, Boston, MA 02215
2         176560  ...       669 Spruce St, Los Angeles, CA 90001
3         176560  ...       669 Spruce St, Los Angeles, CA 90001
4         176561  ...          333 8th St, Los Angeles, CA 90001
...          ...  ...                                        ...
185945    176554  ...       672 12th St, San Francisco, CA 94016
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

## Accessing data with updated Index: `loc`

In [29]:
shopping_df.set_index("Order ID", inplace=True)

In [30]:
shopping_df

                             Product  ...                           Purchase Address
Order ID                              ...
176558          USB-C Charging Cable  ...               917 1st St, Dallas, TX 75001
176559    Bose SoundSport Headphones  ...          682 Chestnut St, Boston, MA 02215
176560                  Google Phone  ...       669 Spruce St, Los Angeles, CA 90001
176560              Wired Headphones  ...       669 Spruce St, Los Angeles, CA 90001
176561              Wired Headphones  ...          333 8th St, Los Angeles, CA 90001
...                              ...  ...                                        ...
176554      Lightning Charging Cable  ...       672 12th St, San Francisco, CA 94016
176555              27in FHD Monitor  ...         42 4th St, San Francisco, CA 94016
176556        AAA Batteries (4-pack)  ...          871 7th St, Los Angeles, CA 90001
176557                        iPhone  ...  83 Washington St, San Francisco, CA 94016
176557      Lightning Charging Cable  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 5 columns]

In [ ]:
# The following code throws error

shopping_df.loc[2, 'Product': 'Order Date']

**Changing the index changes the way we access the data with `loc`**

In [ ]:
shopping_df.set_index('Order ID', inplace=True)

In [ ]:
#Raises an error
shopping_df.loc[2, 'Product': 'Order Date']

In [34]:
shopping_df.loc[176560, 'Product': 'Order Date']

                   Product  Quantity Ordered  Price Each      Order Date
Order ID
176560        Google Phone                 1      600.00  04/12/19 14:38
176560    Wired Headphones                 1       11.99  04/12/19 14:38

## Using methods based on Index

### pd.DataFrame.sort_index

* `pd.DataFrame.sort_index(axis=0, ascending=True, inplace=False, key=None)`
  * Returns a new DataFrame sorted by the label if `inplace=False`, otherwise updates the original DataFrame and returns None.

In [35]:
shopping_df.sort_index()

                             Product  ...                        Purchase Address
Order ID                              ...
141234                        iPhone  ...         944 Walnut St, Boston, MA 02215
141235      Lightning Charging Cable  ...        185 Maple St, Portland, OR 97035
141236              Wired Headphones  ...   538 Adams St, San Francisco, CA 94016
141237              27in FHD Monitor  ...      738 10th St, Los Angeles, CA 90001
141238              Wired Headphones  ...           387 10th St, Austin, TX 73301
...                              ...  ...                                     ...
319666      Lightning Charging Cable  ...  14 Madison St, San Francisco, CA 94016
319667         AA Batteries (4-pack)  ...    549 Willow St, Los Angeles, CA 90001
319668               Vareebadd Phone  ...        273 Wilson St, Seattle, WA 98101
319669              Wired Headphones  ...          778 River St, Dallas, TX 75001
319670    Bose SoundSport Headphones  ...  747 Chestnut St, Los Angeles, CA 90001

[185950 rows x 5 columns]

* By default, it sorts in ascending order, to sort in descending order, use `ascending=False`

In [36]:
shopping_df.sort_index(ascending=False)

                             Product  ...                        Purchase Address
Order ID                              ...
319670    Bose SoundSport Headphones  ...  747 Chestnut St, Los Angeles, CA 90001
319669              Wired Headphones  ...          778 River St, Dallas, TX 75001
319668               Vareebadd Phone  ...        273 Wilson St, Seattle, WA 98101
319667         AA Batteries (4-pack)  ...    549 Willow St, Los Angeles, CA 90001
319666      Lightning Charging Cable  ...  14 Madison St, San Francisco, CA 94016
...                              ...  ...                                     ...
141238              Wired Headphones  ...           387 10th St, Austin, TX 73301
141237              27in FHD Monitor  ...      738 10th St, Los Angeles, CA 90001
141236              Wired Headphones  ...   538 Adams St, San Francisco, CA 94016
141235      Lightning Charging Cable  ...        185 Maple St, Portland, OR 97035
141234                        iPhone  ...         944 Walnut St, Boston, MA 02215

[185950 rows x 5 columns]

* A `key` function can be specified which is applied to the index before sorting.

In [40]:
sort_df = pd.DataFrame({"int_values": [1, 2, 3, 4]}, index=['a', 'E', 'F', 'g'])
#sort_df.sort_index()
sort_df.sort_index(key=lambda x: x.str.lower())

   int_values
a           1
E           2
F           3
g           4

### pd.DataFrame.first_valid_index

* Returns the `index` of the first non-NA/null value.

In [41]:
import numpy as np
df1 = pd.DataFrame({
    "name":[np.nan, "Sonu", "Raj"],
    "place":[np.nan, "Bangalore", "Vijayawada"]
})
df1

   name       place
0   NaN         NaN
1  Sonu   Bangalore
2   Raj  Vijayawada

In [42]:
df1.first_valid_index()

1

# Filtering

## Creating Masks

In [43]:
shopping_df['Price Each']

Order ID
176558     11.95
176559     99.99
176560    600.00
176560     11.99
176561     11.99
           ...
176554     14.95
176555    149.99
176556      2.99
176557    700.00
176557     14.95
Name: Price Each, Length: 185950, dtype: float64

In [44]:
price_filter = shopping_df['Price Each'] > 100
price_filter

Order ID
176558    False
176559    False
176560     True
176560    False
176561    False
          ...
176554    False
176555     True
176556    False
176557     True
176557    False
Name: Price Each, Length: 185950, dtype: bool

- The boolean expression returns a series containing `True` and `False` boolean values.
- You can use this series to select a subset of rows from the original dataframe, corresponding to the `True` values in the series.

In [45]:
shopping_df[price_filter]

                           Product  ...                           Purchase Address
Order ID                            ...
176560                Google Phone  ...       669 Spruce St, Los Angeles, CA 90001
176565          Macbook Pro Laptop  ...     915 Willow St, San Francisco, CA 94016
176567                Google Phone  ...          444 7th St, Los Angeles, CA 90001
176569      27in 4K Gaming Monitor  ...              657 Hill St, Dallas, TX 75001
176572    Apple Airpods Headphones  ...    149 Dogwood St, New York City, NY 10001
...                            ...  ...                                        ...
176549                      iPhone  ...         604 Park St, Los Angeles, CA 90001
176551          LG Washing Machine  ...      567 River St, San Francisco, CA 94016
176552    Apple Airpods Headphones  ...         578 Main St, Los Angeles, CA 90001
176555            27in FHD Monitor  ...         42 4th St, San Francisco, CA 94016
176557                      iPhone  ...  83 Washington St, San Francisco, CA 94016

[68964 rows x 5 columns]

In [46]:
shopping_df.loc[price_filter, 'Price Each']

Order ID
176560     600.00
176565    1700.00
176567     600.00
176569     389.99
176572     150.00
           ...
176549     700.00
176551     600.00
176552     150.00
176555     149.99
176557     700.00
Name: Price Each, Length: 68964, dtype: float64

In [47]:
shopping_df.loc[price_filter, 'Price Each':'Purchase Address']

          Price Each      Order Date                           Purchase Address
Order ID
176560        600.00  04/12/19 14:38       669 Spruce St, Los Angeles, CA 90001
176565       1700.00  04/24/19 10:38     915 Willow St, San Francisco, CA 94016
176567        600.00  04/18/19 17:18          444 7th St, Los Angeles, CA 90001
176569        389.99  04/16/19 19:23              657 Hill St, Dallas, TX 75001
176572        150.00  04/04/19 20:30    149 Dogwood St, New York City, NY 10001
...              ...             ...                                        ...
176549        700.00  03/20/19 01:24         604 Park St, Los Angeles, CA 90001
176551        600.00  03/20/19 23:49      567 River St, San Francisco, CA 94016
176552        150.00  03/08/19 14:07         578 Main St, Los Angeles, CA 90001
176555        149.99  03/22/19 20:27         42 4th St, San Francisco, CA 94016
176557        700.00  03/30/19 12:32  83 Washington St, San Francisco, CA 94016

[68964 rows x 3 columns]

## Using Logical and Relational Operators

In [48]:
price_range_filter = (shopping_df['Price Each'] > 10) & (shopping_df['Price Each'] < 20)
shopping_df.loc[price_range_filter]

                           Product  ...                            Purchase Address
Order ID                            ...
176558        USB-C Charging Cable  ...                917 1st St, Dallas, TX 75001
176560            Wired Headphones  ...        669 Spruce St, Los Angeles, CA 90001
176561            Wired Headphones  ...           333 8th St, Los Angeles, CA 90001
176562        USB-C Charging Cable  ...      381 Wilson St, San Francisco, CA 94016
176564        USB-C Charging Cable  ...             790 Ridge St, Atlanta, GA 30301
...                            ...  ...                                         ...
176547            Wired Headphones  ...               998 Pine St, Boston, MA 02215
176550            Wired Headphones  ...       16 Sunset St, San Francisco, CA 94016
176553        USB-C Charging Cable  ...  437 Washington St, New York City, NY 10001
176554    Lightning Charging Cable  ...        672 12th St, San Francisco, CA 94016
176557    Lightning Charging Cable  ...   83 Washington St, San Francisco, CA 94016

[62443 rows x 5 columns]

**Excluding the rows which satisfy the given condition**

In [49]:
neg_filter = (shopping_df['Price Each'] >= 10)
shopping_df[~neg_filter]

                         Product  ...                           Purchase Address
Order ID                          ...
176570     AA Batteries (4-pack)  ...              186 12th St, Dallas, TX 75001
176575    AAA Batteries (4-pack)  ...       433 Hill St, New York City, NY 10001
176579     AA Batteries (4-pack)  ...  886 Jefferson St, New York City, NY 10001
176583    AAA Batteries (4-pack)  ...         146 Jackson St, Portland, OR 97035
176586    AAA Batteries (4-pack)  ...     365 Center St, San Francisco, CA 94016
...                          ...  ...                                        ...
176529     AA Batteries (4-pack)  ...        227 4th St, San Francisco, CA 94016
176539    AAA Batteries (4-pack)  ...               460 4th St, Dallas, TX 75001
176545    AAA Batteries (4-pack)  ...     515 Center St, San Francisco, CA 94016
176548    AAA Batteries (4-pack)  ...            9 Sunset St, Portland, OR 97035
176556    AAA Batteries (4-pack)  ...          871 7th St, Los Angeles, CA 90001

[41218 rows x 5 columns]

## Using `str` methods

In [50]:
shopping_df['Product']

Order ID
176558          USB-C Charging Cable
176559    Bose SoundSport Headphones
176560                  Google Phone
176560              Wired Headphones
176561              Wired Headphones
                     ...
176554      Lightning Charging Cable
176555              27in FHD Monitor
176556        AAA Batteries (4-pack)
176557                        iPhone
176557      Lightning Charging Cable
Name: Product, Length: 185950, dtype: object

In [52]:
filter = shopping_df['Product'].str.contains('Headphones')
shopping_df[filter]

                             Product  ...                        Purchase Address
Order ID                              ...
176559    Bose SoundSport Headphones  ...       682 Chestnut St, Boston, MA 02215
176560              Wired Headphones  ...    669 Spruce St, Los Angeles, CA 90001
176561              Wired Headphones  ...       333 8th St, Los Angeles, CA 90001
176563    Bose SoundSport Headphones  ...        668 Center St, Seattle, WA 98101
176566              Wired Headphones  ...             83 7th St, Boston, MA 02215
...                              ...  ...                                     ...
176542      Apple Airpods Headphones  ...  802 Lakeview St, Los Angeles, CA 90001
176546              Wired Headphones  ...      3 Church St, Los Angeles, CA 90001
176547              Wired Headphones  ...           998 Pine St, Boston, MA 02215
176550              Wired Headphones  ...   16 Sunset St, San Francisco, CA 94016
176552      Apple Airpods Headphones  ...      578 Main St, Los Angeles, CA 90001

[47756 rows x 5 columns]

In [53]:
filter = shopping_df['Product'].str.endswith('Cable')
shopping_df[filter]

                           Product  ...                            Purchase Address
Order ID                            ...
176558        USB-C Charging Cable  ...                917 1st St, Dallas, TX 75001
176562        USB-C Charging Cable  ...      381 Wilson St, San Francisco, CA 94016
176564        USB-C Charging Cable  ...             790 Ridge St, Atlanta, GA 30301
176568    Lightning Charging Cable  ...               438 Elm St, Seattle, WA 98101
176571    Lightning Charging Cable  ...           253 Johnson St, Atlanta, GA 30301
...                            ...  ...                                         ...
176540    Lightning Charging Cable  ...                142 4th St, Austin, TX 73301
176544    Lightning Charging Cable  ...                436 8th St, Dallas, TX 75001
176553        USB-C Charging Cable  ...  437 Washington St, New York City, NY 10001
176554    Lightning Charging Cable  ...        672 12th St, San Francisco, CA 94016
176557    Lightning Charging Cable  ...   83 Washington St, San Francisco, CA 94016

[43561 rows x 5 columns]

## pd.DataFrame.query

* `pd.DataFrame.query(expr, inplace=False, **kwargs)`
  * Returns a DataFrame resulting from the provided query expression.

In [54]:
pd.DataFrame.query?

In [55]:
df = pd.DataFrame({'A': [1, 6],

                   'B': [10, 3],

                   'C': [10, 5]})

df.query('B == C & A < B')

   A   B   C
0  1  10  10

The above expression is also equivalent to:

In [56]:
df[(df.B == df.C) & (df.A < df.B)]

   A   B   C
0  1  10  10



---

# Try It Yourself

For the following questions, use the **covid** dataset.

0.   Load the dataset into a dataframe using `read_csv`
1.   Make the `date` column as the index.
2.   Sort the records in the dataset based on the `date` column.
3.   Find out on which days more than 1000 cases were reported.
4.   Fetch the `new_cases` and `new_tests` reported in the month of June.
5.   Find the first row in which valid `new_tests` were reported.


For the following questions, use the **film** dataset

6.  Make the '`year` and `title` as indices.
7.  Fetch the films where the `actor` name contains `Jasen` and the `popularity` is greater than 50.